<!DOCTYPE <html>
<head>
  <title>Edit About Page</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><%= link_to 'Logout', logout_path, method: :delete %></p>
    <%= image_tag "michael_felz_pc_med.png" %>
    <div class="admin-menu">
      <ul>
        <%= link_to posts_path do %><li>Posts</li><% end %>
        <%= link_to bios_path do %><li>About</li><% end %>
        <%= link_to settings_path do %><li>Settings</li><% end %>
      </ul>
    </div>
  </div>
  <div class="about-entries">
    <%= link_to bios_path do %><p id="about-back">Back</p><% end %>
    <h1>Edit Your About Page</h1>
    <%= form_for(@bio, :url => {:action => :update, :controller => :bios}, class: 'about-info' ) do |b| %>
      <%= b.label :content %><br>
      <%= b.text_area :content %><br>
      <%= b.label :phone %><br>
      <%= b.text_field :phone %><br>
      <%= b.label :email %><br>
      <%= b.text_field :email %><br>
      <%= b.submit "Update Bio" %>
    <% end %>
  </div>
</body>
</html>