<!DOCTYPE <html>
<head>
  <title>About Index</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <%= link_to posts_path do %><li>Posts</li><% end %>
        <%= link_to bios_path do %><li>About</li><% end %>
        <%= link_to settings_path do %><li>Settings</li><% end %>
      </ul>
    </div>
  </div>
  <div class="about-menu">
    <h2 id="create-about"><%= link_to "Create New About Page", new_bio_path %></h2>
    <% if @bio %>
      <h2 id="edit-about"><%= link_to "Edit Current About Page", edit_bio_path(@bio) %></h2>
    <% end %>
  </div>
</body>
</html>