<!DOCTYPE <html>
<head>
  <title>New About Page</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <%= link_to posts_path do %><li>Posts</li><% end %>
        <%= link_to bios_path do %><li>About</li><% end %>
        <%= link_to settings_path do %><li>Settings</li><% end %>
      </ul>
    </div>
  </div>
  <div class="about-entries">
    <%= link_to bios_path do %><p id="about-back">Back</p><% end %>
    <h1>Create a New About Page</h1>
    <%= form_for(@bio, :url => {:action => :create, :controller => :bios}, class: 'about-info' ) do |b| %>
      <%= b.label :content %><br>
      <%= b.text_area :content %><br>
      <%= b.label :phone %><br>
      <%= b.text_field :phone %><br>
      <%= b.label :email %><br>
      <%= b.text_field :email %><br>
      <%= b.submit "Create Bio" %>
    <% end %>
  </div>
</body>
</html>