<!DOCTYPE <html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="login-header">
    <%= image_tag "michael_felz_pc.png" %>
  </div>
  <div class="login">
    <h1>Please Sign In</h1>
    <%= form_tag sessions_path, {class: "login-form"} do %>
      <%= label_tag :email %><br>
      <%= email_field_tag :email %><br>
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
      <%= submit_tag "Log In" %>
    <% end %>
  </div>
</body>
</html>