<!DOCTYPE <html>
<head>
  <title>Settings</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><%= link_to 'Logout', logout_path, method: :delete %></p>
    <%= image_tag "michael_felz_pc_med.png" %>
    <div class="admin-menu">
      <ul>
        <%= link_to posts_path do %><li>Posts</li><% end %>
        <%= link_to bios_path do %><li>About</li><% end %>
        <%= link_to settings_path do %><li>Settings</li><% end %>
      </ul>
    </div>
    <div class="password">
      <h1>Change Your Password</h1>
      <form id="password-form">
        <label>New Password:</label>
        <br>
        <input type="password">
        <br>
        <label>Password Confirmation:</label>
        <br>
        <input type="password">
      </form>
    </div>
  </div>
</body>
</html>