<!DOCTYPE <html>
<head>
  <title>New User</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="login-header">
    <%= image_tag "michael_felz_pc.png" %>
  </div>
  <div class="signup">
    <h1>New User</h1>
    <%= form_for @user, :html => {class: "signup-form"} do |f| %>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
      <%= f.label :password %><br />
      <%= f.password_field :password, :required => true %>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, :required => true %>
      <%= f.submit "Sign Up" %>
    <% end %>
  </div>
</body>
</html>