<!DOCTYPE <html>
<head>
  <title>New Post</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><%= link_to 'Logout', logout_path, method: :delete %></p>
    <%= image_tag "michael_felz_pc_med.png" %>
    <div class="admin-menu">
      <ul>
        <%= link_to posts_path do %><li>Posts</li><% end %>
        <%= link_to bios_path do %><li>About</li><% end %>
        <%= link_to settings_path do %><li>Settings</li><% end %>
      </ul>
    </div>
  </div>
  <div class="post-entries">
    <p id="post-back"><%= link_to 'Back', posts_path %></p>
    <h1>Create a New Post</h1>
    <%= form_for(@post, :url => {:action => :create, :controller => :posts} ) do |p| %>
      <%= p.label :title %>
      <%= p.text_field :title %>
      <%= p.label :date %>
      <%= p.date_field :date %>
      <br>
      <%= p.label :content %><br>
      <%= p.text_area :content %>
      <br>
      <%= p.label :page_title %>
      <%= p.text_field :page_title %>
      <br>
      <%= p.label :meta_description %>
      <br>
      <%= p.text_area :meta_description, class: 'm-description' %>
      <br>
      <%= p.submit "Submit" %>
    <% end %>
  </div>
</body>
</html>