<!DOCTYPE <html>
<head>
  <title>Preview</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="admin-header">
    <p><a href="#">Logout</a></p>
    <img src="images/michael_felz_pc_med.png" height="150" width="401">
    <div class="admin-menu">
      <ul>
        <%= link_to posts_path do %><li>Posts</li><% end %>
        <%= link_to bios_path do %><li>About</li><% end %>
        <%= link_to settings_path do %><li>Settings</li><% end %>
      </ul>
    </div>
  </div>
  <div class="post-view">
    <p id="go-back"><%= link_to 'Go back', posts_path %></a></p>
    <h1><%= @post.title %></h1>
    <h3><%= @post.date %></h3>
    <p><%= @post.content %></p>
  </div>
</body>
</html>