<!DOCTYPE <html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="site-header">
    <div class="med-logo">
      <a href="index.html">
        <img src="images/michael_felz_pc_med.png" height="150" width="401">
      </a>
    </div>
    <div class="site-menu">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Blog', blog_path %></li>
      </ul>
    </div>
  </div>
  <div class="blog-content">
    <% @article.each do |a| %>
      <div class="blog-article">
        <h2><%= link_to a.title, a %></a></h2>
        <h3><%= a.date %></h3>
        <p><%= a.content %></p>
        <h4><%= link_to 'Read More...', a %></h4>
      </div>
      <br>
      <hr>
    <% end %>
  </div>
  <div class="footer">
    <p>Copyright 2015 &copy; Michael Felz PC</p>
  </div>
</body>
</html>