<!DOCTYPE <html>
<head>
  <% title "Chicago Accountant" %>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="site-header">
    <div class="med-logo">
      <%= link_to(image_tag("michael_felz_pc_med.png"), root_path) %>
    </div>
    <div class="site-menu">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Blog', blog_path %></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="about">
      <h1>About Michael Felz</h1>
      <p><%= @info.content.html_safe %></p>
      <h2>Contact Info</h2>
      <h3>Email: <%= @info.email.html_safe %></h3><p class="contact-info"><%= @info.email.html_safe %></p>
      <br>
      <h3>Phone Number: </h3><p class="contact-info"><%= @info.phone %></p>
    </div>
    <div class="about-image">
      <img src="images/jfelz.jpg" height="384" width="255">
    </div>
  </div>
  <div class="footer">
    <p>Copyright 2015 &copy; Michael Felz PC</p>
  </div>
</body>
</html>